<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <style>
        body{
            background-color: #0e131f ;
            height: 100vh;
        }
    </style>
    <script>
if (!localStorage.getItem('name') || !localStorage.getItem('email') || !localStorage.getItem('password')) {
    if (document.cookie.includes('email') && document.cookie.includes('password') && document.cookie.includes('name')) {
        // Extract values from cookies and store in localStorage
        const nameValue = getCookieValue('name');
        const emailValue = getCookieValue('email');
        const passwordValue = getCookieValue('password');

        localStorage.setItem('name', nameValue);
        localStorage.setItem('email', emailValue);
        localStorage.setItem('password', passwordValue);
    }
}

if (localStorage.getItem('name') && localStorage.getItem('email') && localStorage.getItem('password') &&
    !document.cookie.includes('email') && !document.cookie.includes('password') && !document.cookie.includes('name')) {
    // Set cookies with values from localStorage
    document.cookie = `name=${localStorage.getItem('name')}`;
    document.cookie = `email=${localStorage.getItem('email')}`;
    document.cookie = `password=${localStorage.getItem('password')}`;
}

// Helper function to get cookie value by name
function getCookieValue(cookieName) {
    const cookies = document.cookie.split('; ');
    for (const cookie of cookies) {
        const [name, value] = cookie.split('=');
        if (name === cookieName) {
            return value;
        }
    }
    return null;
}

    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>

    <%- include('./toast.ejs') %>

</head>