<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <!-- <%- include('./partials/banner.ejs') %> -->
    <h1 class="text-center text-2xl font-bold mt-5 text-white">Send Custom  mails</h1>


    <form class="md:w-[60%] m-auto mt-5 border p-10" onsubmit="handelForm(event)">
        <div class="mb-6">
          <label for="recievers" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Recievers Emails <span class="text-blue-500">(each email after add , for seperate)</span></label>
          <input type="text" id="recievers" name="recievers" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="eamil1@gmail.com,email2@gmail.com seprate by ," required>
        </div>
        <div class="mb-6">
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Subject</label>
          <input type="text" name="subject" id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="subject of the email" required>
        </div>
        <div class="mb-6">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Body</label>
          <textarea rows="4" type="text" name="message" id="message" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="enter body of the email" ></textarea>
        </div>
        <div class="mb-6"> 
<label for="Resume" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose a Resume</label>
<select id="Resume" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  
 
  
</select>
</div>
     <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form>
      

  <script>
const handelForm=()=>{
  event.preventDefault();
  const recievers=document.getElementById("recievers").value;
  const subject=document.getElementById("subject").value;
  const message=document.getElementById("message").value;
  const resume=document.getElementById("Resume").value;



fetch("/Custom Email",{
  method:"POST",
  headers:{
    "Content-Type":"application/json",
  },
  body:JSON.stringify({
    recievers,subject,message,resume
  })
}).then(res=>res.json()).then(data=>{
  console.log(data)
  ShowToast(data)
})
}



const resumeSelect = document.getElementById("Resume");

// Retrieve resumes from localStorage
const resumes = JSON.parse(localStorage.getItem("resumes")) || [];

// Iterate through the resumes and populate the options in the select element
resumes.forEach(resume => {
  resumeSelect.innerHTML += `<option value="${resume.url}">${resume.name}</option>`;
});


  </script>
</body>
</html>